@import "styles/vars_module.scss";
.landingContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1100px;
  margin: 0 auto;
  justify-items: center;
  align-items: center;
  vertical-align: middle;
  height: 100vh;

  .left {
    grid-template: 1;
    width: 100%;
  }

  .right {
    grid-template: 2;
    width: 100%;
  }
}

.statsPage {
  grid-gap: 80px;
  padding-top: 150px;
  max-width: 90%;
  align-items: start;
}

.spacer {
  height: 50px;
}

.secondary {
  margin-bottom: 30px;
  font-weight: 400;
}

.centerAlign {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin: 0 auto;
  height: 100vh;
  text-align: center;
  justify-items: center;
  align-items: center;
  vertical-align: middle;

  img {
    max-width: 800px;
  }
}

.title {
  max-width: 800px;
}
