@import "styles/vars_module.scss";
.barContainer {
  position: relative;

  h5 {
    margin-bottom: 60px;
  }

  margin-bottom: 150px;
}
.outerBar {
  display: inline-block;
  border: 2px solid $primary-color;
  width: 100%;
  height: 40px;
  position: relative;

  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);

  .innerBar {
    display: block;
    height: 100%;
    border-radius: 2px 0px 0px 2px;
    background: $primary-color;
    // position: absolute;
    position: relative;
    margin-bottom: 20px;
  }
}

.arrowDown {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  left: 38%;
}
.arrowBlue {
  border-top: 5px solid $primary-color;
}

.arrowBlack {
  border-top: 5px solid #111111;
}

.average {
  position: absolute;
  top: -40px;
  left: 100%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  color: $primary-color;
  background: white;
}

.user {
  position: absolute;
  top: -40px;
  // left: 20%;
  background: white;
}

.user,
.average {
  font-size: 16px;
}

.rightTag {
  float: right;
  opacity: 0.5;
}

.leftTag {
  float: left;
  opacity: 0.5;
}
