@import "../../styles/vars_module.scss";

.textInput {
  border: 1px solid $primary-color;
  border-radius: $border-radius;
  padding: 10px;
  width: 300px;
  font-size: 16px;
}

.YesNoContainer {
  width: auto;
  padding-bottom: 30px;

  input {
    padding: $button-padding;
    margin: 0;
    background: white;
    color: $primary-color;
    cursor: pointer;
    border: 1px solid $primary-color;
    font-size: 16px;
  }

  input:hover {
    background: $primary-color;
    color: white;
  }

  input:first-child {
    border-radius: 8px 0 0 8px;
    border-right: none;
  }

  input:last-child {
    border-radius: 0px 8px 8px 0px;
  }

  .active {
    background: $primary-color;
    color: white;
  }
}

.title {
  max-width: 800px;
}

.YesNoContainer:focus {
  outline: none;
}
